<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'templates/head.html' %}
    <style> body { padding-top: 3.5rem; } </style>
  </head>

  <body>

    {% include 'templates/nav.html' %}

    <main role="main">

      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <br>
            <h2>Grading</h2>
            <p>
              <h5>Turning in work and late policy</h5> Late work will
              receive no credit. However, you have one free "late day"
              that you can use at anytime during the quarter on a
              homework assignment. A late day gives you one extra day
              to turn in your homework without penalty. The purpose of
              this late day is to help you deal with unexpected
              events, including getting sick, going to the doctor, or
              any other events that might cause you to turn in your
              homework late.
	    </p>

	    <p> If you'd like to use a late day, please email the
	    professor and the TA to let us know. </p>

	    <p>
	      You will turn in project milestones
              and homework via Github.
            </p>

            <p>
            <h5>Cheating policy</h5>
              I have a no tolerance policy on cheating, which includes
              copying from friends and plagarism. If you get caught
              cheating, you will get an F in this class and I will
              turn you into the univerisity's academic integrity
              group.
            </p>

	    <p>
	      <h5>Quizzes</h5> We're not sure how we plan to handle
	      quizzes during this COVID year. We'll do something, but
	      the details are TBD.
	    </p>

            <p>
            <h5>Grade breakdown</h5> Your grade will be composed of
            the following items:
            </p>
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Item</th>
                  <th>Percent</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>COVID</td><td>20%</td>
                  <td>
		    Free points due to the difficult nature of online classes
                  </td>
                </tr>
                <tr>
                  <td><a href="quizzes.html">Quizzes</a></td><td>12%</td>
                  <td>
		    Details TBD
                  </td>
                </tr>
                <tr>
                  <td><a href="homework.html">Homework</a></td><td>16%</td>
                  <td>
                    Four homework assignments worth 4% each
                  </td>
                </tr>
                <tr>
                  <td><a href="project.html">Project</a></td><td>52%</td>
                  <td>
                    Proposal 5%, milestone 1 5%, milestone 2 5%, demo
                    10%, peer grade 5%, sprint planning 5%, final
                    project 17%
                  </td>
                </tr>
              </tbody>
            </table>

            <p>
            <h5>Grade scale</h5>
              I grade on a straight grade scale. Although most of the
              points in this class will come towards the end of the
              quarter, the milestones will help give you a sense of
              how well you are doing on the final project.
            </p>
            <table class="table table-bordered table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Grade</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>A</td><td>[93, 100]</td></tr>
                <tr><td>A-</td><td>[90, 93)</td></tr>
                <tr><td>B+</td><td>[87, 90)</td></tr>
                <tr><td>B</td><td>[83, 87)</td></tr>
                <tr><td>B-</td><td>[80, 83)</td></tr>
                <tr><td>C+</td><td>[77, 80)</td></tr>
                <tr><td>C</td><td>[73, 77)</td></tr>
                <tr><td>C-</td><td>[70, 73)</td></tr>
                <tr><td>D</td><td>[60, 70)</td></tr>
                <tr><td>F</td><td>[0, 60)</td></tr>
              </tbody>
            </table>

          </div>
        </div>


        <hr>
      </div> <!-- /container -->
    </main>

    {% include 'templates/footer.html' %}

  </body>
</html>
