<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'templates/head.html' %}
  </head>

  <body>

    {% include 'templates/nav.html' %}

    <main role="main">

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>Homework</h2>
	    
	    <p>
	      During this quarter we are going to have 4 individual
	      programming assignments where you will build up the
	      components of Venmo or WeChat Pay like app.
	    </p>

	    <p>
	      We will use github classroom to distribute and submit
	      the four programming assingments this quarter. We will
	      provide details on how to do this via the Canvas
	      assignments for each homework.
	    </p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </main>

    {% include 'templates/footer.html' %}

  </body>
</html>
