<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'templates/head.html' %}
  </head>

  <body>

    {% include 'templates/nav.html' %}

    <main role="main">

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>Homework</h2>
	    
	    <p>
	      During this quarter we are going to have 4 individual
	      programming assignments where you will build up the
	      components of Venmo or WeChat Pay like app.
	    </p>

	    <p>
	      Although each student is responsible for turning in
	      their own homework, we strongly encourage students to
	      work together. Everyone has to come up with their own
	      solution, but we want people to talk about concepts
	      together and help each other out when stuck.
	    </p>

	    <p>
	      You are allowed to use code from Stack Overflow,
	      ChatGPT, or wherever else you find it. <b>Our only
	      requirement is that you cite your source and respect the
	      license of the software.</b> As long as you do that,
	      you're welcome to use these and other tools. However, as
	      a warning, our quizzes will build on the homeworks
	      heavily, so even if you do use code from one of these
	      tools we expect you to know the material and will test
	      you on it in the quizzes.
	    </p>
	    
	    <p>
	      We will use Canvas to distribute and submit the four
	      programming assingments this quarter.
	    </p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </main>

    {% include 'templates/footer.html' %}

  </body>
</html>
