<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'templates/head.html' %}
  </head>

  <body>

    {% include 'templates/nav.html' %}

    <main role="main">

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">
            <h2>Homework</h2>
	    
	    <p>
	      During this quarter we are going to have 2 individual
	      programming assignments where you get experience with AI
	      programming tools and come up with app ideas.
	    </p>

	    <p>
	      Although each student is responsible for turning in
	      their own homework, we strongly encourage students to
	      work together. Everyone has to come up with their own
	      solution, but we want people to talk about concepts
	      together and help each other out when stuck.
	    </p>

	    <p>
	      You are required to use Claude Code (Opus 4.5) for the
	      programming assignment and encouraged to use AI tools if
	      their helpful for coming up with ideas for your app.
	    </p>
	    
	    <p>
	      We will use Canvas to distribute and submit the four
	      programming assingments this quarter.
	    </p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </main>

    {% include 'templates/footer.html' %}

  </body>
</html>
