.mycol {
    border: 1px solid;
    border-color: #aaa;
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: white;
}

.left {
    padding-right: 8px;
}

.right {
    padding-left: 8px;
}

.jumbotron {
    background-image: url("background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#jumbo {
    color: white;
}

#browser {

}

body {
    background-color: #ddd;
}